<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
    <!-- <add name="ConnectionString" connectionString="workstation id=SESCOLARNEW.mssql.somee.com;packet size=4096;user id=SERVIDORRCJ_SQLLogin_2;pwd=3iaudvhvw6;data source=SESCOLARNEW.mssql.somee.com;persist security info=False;initial catalog=SESCOLARNEW"
         providerName="System.Data.SqlClient" />-->

          <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=SESCOLAR;Integrated Security=True"
           providerName="System.Data.SqlClient" />   
        
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
